<footer class="main-footer">
  <div class="footer-license-wrapper">
    <a class="license" href="https://github.com/zlatait/main/blob/master/LICENSE" title="View the license for this site and it's content"><small>All content is copyright &copy; {{ site.start-year }} - {{ site.time | date: '%Y' }} Zlata Mecheva, any trademarks are property of their respective owners</small></a>
  </div>
  <div class="made-by-wrapper">
    <a class="made-by" href="https://www.vasyl.net">Made by vasyl.net</a>
  </div>
</footer>
